body{
	background-color: #64D10B;
	
}
p{
font-size: 80px;
color:#2A7A0E; 
text-align: center;
}
div{
	width: 80%;
	height: auto;
    border:2px solid green;
    margin: 6%;
    display: inline-block;
    background: transparent;

}
.imagen1{
	display: block;
    float: left;

}
.imagen2{
	display: block;
	float: left;
}

.video{
	display: block;
    margin: auto;
}
.texto{
	font-size: 20px;
	color: black;
}
	
a{
	text-decoration: underline;
	font-size: 20px;
	color: black;
}
@media screen and (max-width: 400px){
	body{background-color: #167C68;
	background-image: url(Imagenes/fondom.jpg);
	background-image: cover;}
	div{background-color: white;
	 margin: 10%;
	 padding: 3%;}
	iframe{ visibility: hidden; }
	h1{font-size: 70px}

}